<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-feature android:name="android.hardware.sensor.accelerometer" android:required="true" />
    <uses-feature android:name="android.hardware.sensor.gyroscope" android:required="true" />
    <uses-feature android:name="android.hardware.location.gps" android:required="true" />

    <application
        android:allowBackup="false"
        android:label="Waynova"
        android:icon="@drawable/ic_waynova"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.Material.Light">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${MAPS_API_KEY}" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <activity
            android:name=".DashboardActivity"
            android:exported="true"
            android:theme="@style/Theme.NeuroNavX.Navigation"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" android:exported="false"
            android:label="Waynova developer tools" android:screenOrientation="portrait" />
        <activity
            android:name=".NavigationActivity"
            android:exported="false"
            android:label="Waynova navigation"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.NeuroNavX.Navigation" />
        <activity
            android:name=".FullLoopBenchmarkActivity"
            android:exported="false"
            android:label="Waynova full-loop benchmark" />
    </application>
</manifest>
